html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 10px verdana, arial, sans-serif;
}
#error {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  z-index: 100;
  width: 50%;
  margin: auto;
  font-size: 1.8em;
  line-height: 1.2em;
  background-color: #f2dede;
  color: #b94a48;
  text-align: center;
  padding: 0.3em 0.8em;
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
  border:1px solid #eed3d7;
  box-shadow: 0 0 20px #222;
}
#search {
  position: fixed;
  bottom: 5%;
  left: 1%;
  z-index: 100;
  /*text-align: center;*/
}
#search input {
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 0.3em 0.8em;
  width: 18em;
  max-width: 100%;
  border: 1px solid #777;
  box-shadow: 0 0 20px #222;
  display:block;
  margin-bottom: 1em;
}
#search .title {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.2em;
  text-shadow: 0 0 5px #222;
  display:block;
  margin-bottom: 1em;
}