html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 10px verdana, arial, sans-serif;
}


#header {
  position: fixed;
  top: 2%;
  left: 20%;
  right: 20%;
  font-size: 1.5em;
  text-shadow: 0 0 1px rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.7);
  display:block;
  text-align: center;
  border-radius: 1px;
}
#obshtestvo {
  width: 8em;
  vertical-align: text-bottom;
}
#error {
  position: fixed;
  top: calc(2% + 7em);
  left: 5%;
  right: 5%;
  z-index: 100;
  width: 50%;
  margin: auto;
  font-size: 1.8em;
  line-height: 1.2em;
  background-color: #f2dede;
  color: #b94a48;
  text-align: center;
  padding: 0.3em 0.8em;
  text-shadow:0 1px 0 rgba(255,255,255,0.5);
  border:1px solid #eed3d7;
  box-shadow: 0 0 20px #222;
  display: none;
}

#menuIcon {
  background: url("icon_mobile_menu.png");
  background-size: cover;
  position: fixed;
  bottom: 5%;
  left: 1%;
  z-index: 200;
  content: " ";
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#menuExplain {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.7);
  padding: 0.4em;
  z-index: 100;
  position: fixed;
  bottom: 5%;
  left: calc(1% + 35px);
  font-size: 1.4em;
  line-height: 1.2em;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
  margin-bottom: 0.1em;
}


#search {
  position: fixed;
  bottom: calc(5% + 35px);
  left: 1%;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.7);
  padding: 0.8em;
  max-width: 30%;
  display: none;
}
#search .title {
  padding: 0.3em 0.8em;
  font-size: 1.6em;
  line-height: 1.2em;
  text-shadow: 0 0 1px rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.7);
  display:block;
  text-align: center;
  margin: 0 auto 1em auto;
}
#search input[type="text"] {
  font-size: 1.6em;
  line-height: 1.2em;
  padding: 0.3em 0.8em;
  width: 90%;
  border: 1px solid #777;
  box-shadow: 0 0 20px #222;
  display:block;
  margin: 1em;
}
#search #addrButton {
  display: inline-block;
  position: relative;
  top: -3em;
  background-repeat: no-repeat;
  background-image: url("icon_center_map.png");
  background-size: cover;
  width: 2em;
  height: 2em;
  float: right;
}
#search .clearButton {
  font-weight: bold;
  height: 1.3em;
  font-size: 1.6em;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2em;
  width: 1.3em;
  text-align: center;
}
#search .clearButton_div {
  width: 90%;
}
#search .box {
  font-weight: bold;
  text-shadow: 0 0 1px rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.7);
  padding: 0.3em 0.8em;
}
#search .box span {
  font-size: 1.3em;
}
#search .box #exclamation {
  width: 1.4em;
  vertical-align: text-bottom;
  margin-right: 0.3em;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  border-radius:1.5em;
}
#search .box input {
  margin: 1em 0.4em;
  width: 85%;
}

#search .box span#medok {
  position: absolute;
  right: 0.02em;
  top: 0.4em;
  text-shadow: 0 0 1px rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: none;
  background-color: #6DBD6D;
  color: white;
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  font-size:1.6em;
}
#search .box span#medno {
  position: absolute;
  right: 0.02em;
  top: 0.4em;
  text-shadow: 0 0 1px rgba(255,255,255,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: none;
  background-color: #EB5050;
  color: white;
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  font-size:1.6em;
}

label {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-left: 1em;
}

/* Styling the slider */

input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid transparent;
  /*required for proper track sizing in FF*/
  width: 20em;
  display:block;
  background-color: transparent;
  margin: 1em;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 20em;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0,0,0,0.8);
  margin-top: -4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
input[type=range]::-moz-range-track {
  width: 20em;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  width: 20em;
  height: 16px;
  background: #ddd;
  border: none;
  border-radius: 10px;
  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  outline: none;
  background: #777;
  border-radius: 10px 0 0 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0,0,0,0.8);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
input[type=range]:focus::-ms-track {
  background: #ccc;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
